<ion-content [fullscreen]="true">
  <div class="header-image">
    <div class="header-container">
      <div style="color: whitesmoke;">
          <div style="margin-bottom: 10px;">
            <ion-text>Hi Nandya !</ion-text>
          </div>
          <div>
            <div style="padding-bottom: 15px;">
              <ion-text>1800 Point  |  Platinum </ion-text>
            </div>
          </div>
      </div>
      <div style="display: flex; color: whitesmoke; font-size: 25px;">
        <ion-icon class="m-5" name="search-outline"></ion-icon>
        <ion-icon class="m-5"name="notifications-outline"></ion-icon>
      </div>
    </div>
    <img src='./assets/images/header.png' />
    
  </div>

</ion-content>
